<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} | Anthony Welch</title>

    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/styleSheets/base.css" />
    {% if stylesheet %}
    <link rel="stylesheet" href="/styleSheets/{{ stylesheet }}" />
    {% endif %}
  </head>
  <body>
    {{ content | safe }}

    <footer class="site-footer">
      <div class="footer-container">
        <a
          href="https://www.linkedin.com/in/anthony-welch-26b5b3133"
          target="_blank"
          class="footer-link"
          >LinkedIn</a
        >
        <span class="footer-location">Made in Portland, OR</span>
      </div>
    </footer>

    {% if script %}
    <script src="/scripts/{{ script }}"></script>
    {% endif %}
  </body>
</html>
